body {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	background-color: rgb(100, 149, 237);
}

#boardContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1px;
	background-color: rgb(219, 232, 240);
	border-color: rgb(160, 166, 172);
	border-style: solid;
	padding: 10px;
}

#boardContainer > div {
	background-color: rgb(132, 167, 204);
	font-size: 40px;
}

#boardContainer > div::before {
	content: "";
	padding-bottom: 100%;
	display: block;
}
